<div class='row'>
  <div class='col-xs-12'>
    <h3>Password Reset</h3>
    <p>
      Please enter a new password and we will update you account.
    </p>
  </div>
</div>
<div class='row'>
  <div class='col-xs-12'>
    <form name='auth.passwordReset' ng-submit='auth.updatePassword()'>
      <div class='form-group'>
        <label for='email'>Email:</label>
        <input class='form-control' name='email' ng-model='auth.factory.user.email' readonly />
      </div>
      <div class='form-group'>
        <label for='password'>Password:</label>
        <input class='form-control' name='password' type='password' ng-model='auth.factory.user.password' required id='password' />
        <div ng-messages='auth.passwordReset.password.$error' ng-if='auth.passwordReset.password.$dirty'>
          <div class='error' ng-message='required'>You must enter a password.</div>
        </div>
      </div>
      <div class='form-group'>
        <label for='c_password'>Confirm Password:</label>
        <input class='form-control' name='c_password' type='password' ng-model='auth.factory.user.c_password' required p1-compare-to='auth.factory.user.password' />
        <div ng-messages='auth.passwordReset.c_password.$error' ng-if='auth.passwordReset.c_password.$dirty'>
          <div class='error' ng-message='required'>You must enter a password.</div>
          <div class='error' ng-message='p1CompareTo'>Your passwords do not match.</div>
        </div>
      </div>
      <div class='form-group'>
        <button class='btn btn-primary' type='submit' ng-disabled='auth.passwordReset.$invalid'>Update Password</button>
      </div>
    </form>
  </div>
</div>