<div class='modal-wrapper login'>
	<h3>Login</h3>
	<div class='row' ng-show="auth.factory.hasErrMsg">
		<div class='col-xs-12'>
			<p class='errMsg'>{{auth.factory.errMsg}}</p>
		</div>
	</div>
	<form name='auth.loginForm' ng-submit='auth.login()'>
		<div class='form-group'>
			<label for='username'>Username:</label>
			<input class='form-control' name='username' ng-model='auth.factory.user.username' required />
			<div ng-messages='auth.loginForm.username.$error' ng-if='auth.loginForm.username.$dirty'>
				<div class='error' ng-message='required'>You must enter a username.</div>				
			</div>
		</div>
		<div class='form-group'>
			<label for='password'>Password:</label>
			<input class='form-control' name='password' type='password' ng-model='auth.factory.user.password' required />
			<div ng-messages='auth.loginForm.password.$error' ng-if='auth.loginForm.password.$dirty'>
				<div class='error' ng-message='required'>Your password is required.</div>
			</div>
		</div>
		<div class='form-group'>
			<button class='btn btn-primary' type='submit' ng-disabled='auth.loginForm.$invalid'>Login</button>
			<button class='btn btn-secondary' ng-click='core.closeModal()' ng-controller='Core as core'>Close</button>
		</div>
	</form>
</div>